body {
    border: 4px solid rgba(107, 105, 105, 0.705);
    border-radius: 10px;
    margin: 2%;
    padding: 3%;
  }
  
  #current-weather {
    border: 1px solid rgba(189, 187, 187, 0.705);
    margin: 1%;
  }
  .navbar span {
    font-size: xx-large;
    font-weight: bold;
  }
  h4 {
    font-size: large;
    font-weight: bold;
  }
  .search {
    padding: 1%;
  }
  .mb-2 {
    margin: 1%
  }
  
  .card-deck p, h6 {
    color: white;
  }
  